<div class="container">
    <img src="../../../assets/nuevo/background/1.png" class="atras w-25 animate__animated animate__slideInRight" alt="">
    <section class="secciones">
        <div class="container text-center">
            <img class="wow banner animate__animated animate__zoomIn w-100" data-wow-delay="1s" src="../../../assets/nuevo/heather/banner.png" alt="">
            <div class="wow accordian w-100 animate__animated animate__fadeInUp" data-wow-delay="1.5s">
                <ul>
                    <li>
                        <div class="image_title" style="position: absolute; margin-top: 3rem;">
                            <img class="wow animate__animated animate__zoomIn" data-wow-delay="1.5s" src="../../../assets/nuevo/menu/titulo1.png" alt="">
                        </div>
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">El lugar donde se llevarán acabo las batallas de los videojuegos más aclamados. La Arena eSports recibirá a los gamers más competitivos, que con sus habilidades, buscarán llevarse la corona de cada uno de nuestros torneos. </p>
                        <a href="#">
                            <img src="../../../assets/nuevo/menu/1.png" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title" style="position: absolute; margin-top: 3rem;">
                            <img class="wow animate__animated animate__zoomIn" data-wow-delay="1.7s" src="../../../assets/nuevo/menu/titulo2.png" alt="">
                        </div>
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">Un deslumbrante espacio donde se agrupan y brillan las estrellas de la cultura pop, los comics, los cosplays, el coleccionismo, el cine y las series.</p>
                        <a href="#">
                            <img src="../../../assets/nuevo/menu/2.png" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title" style="position: absolute; margin-top: 3rem;">
                            <img class="wow animate__animated animate__zoomIn" data-wow-delay="1.9s" src="../../../assets/nuevo/menu/titulo3.png" alt="">
                        </div>
                        <p id="textoSecciones" class="text-right">El espacio donde los más chicos demostrarán su creatividad al tiempo que interactúan con sus videojuegos y contenidos favoritos.</p>
                        <a href="#">
                            <img src="../../../assets/nuevo/menu/3.png" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title" style="position: absolute; margin-top: 3rem;">
                            <img class="wow animate__animated animate__zoomIn" data-wow-delay="2.1s" src="../../../assets/nuevo/menu/titulo4.png" alt="">
                        </div>
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">El área de lanzamientos donde los espectadores podrán interactuar con los titulos más esperados de la temporada. Video juegos, obras, series, servicios, gadgets y demás serán el eje principal de las charlas, conferencias y paneles
                            que tenemos para ti.</p>
                        <a href="#">
                            <img src="../../../assets/nuevo/menu/4.png" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title" style="position: absolute; margin-top: 3rem;">
                            <img class="wow animate__animated animate__zoomIn" data-wow-delay="2.3s" src="../../../assets/nuevo/menu/titulo5.png" alt="">
                        </div>
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">Un espacio especial para conocer todo sobre las consolas de la nueva generación. Reviews, unboxing y muchas sorpresas que podrás vivir de cerca y en tu idioma. </p>
                        <a href="#">
                            <img src="../../../assets/nuevo/menu/5.png" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title" style="position: absolute; margin-top: 3rem;">
                            <img class="wow animate__animated animate__zoomIn" data-wow-delay="2.5s" src="../../../assets/nuevo/menu/titulo6.png" alt="">
                        </div>
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSeccionesA">¡Los premios que los gamers colombianos han esperado por años! Participa con tu voto seleccionando a tus favoritos en cada categoría y entra en el sorteo de grandes premios. Tú tienes la voz… ¡Hazte escuchar!</p>
                        <a href="#">
                            <img src="../../../assets/nuevo/menu/6.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="galeria-movil wow animate__animated animate__fadeInUp" data-wow-delay="1s">
            <div id="carruselMovil" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carruselMovil" data-slide-to="0" class="active"></li>
                    <li data-target="#carruselMovil" data-slide-to="1"></li>
                    <li data-target="#carruselMovil" data-slide-to="2"></li>
                    <li data-target="#carruselMovil" data-slide-to="3"></li>
                    <li data-target="#carruselMovil" data-slide-to="4"></li>
                    <li data-target="#carruselMovil" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/nuevo/menu/titulo1.png" class="img-movil" alt="">
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">El lugar donde se llevarán acabo las batallas de los videojuegos más aclamados. La Arena eSports recibirá a los gamers más competitivos, que con sus habilidades, buscarán llevarse la corona de cada uno de nuestros torneos. </p>
                        <img src="../../../assets/nuevo/menu/movil/1.png" class="absolute w-100 rounded" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/nuevo/menu/titulo2.png" class="img-movil" alt="">
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">Un deslumbrante espacio donde se agrupan y brillan las estrellas de la cultura pop, los comics, los cosplays, el coleccionismo, el cine y las series.</p>
                        <img src="../../../assets/nuevo/menu/movil/2.png" class="absolute w-100 rounded" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/nuevo/menu/titulo3.png" class="img-movil" alt="">
                        <p id="textoSecciones" class="text-right">El espacio donde los más chicos demostrarán su creatividad al tiempo que interactúan con sus videojuegos y contenidos favoritos.</p>
                        <img src="../../../assets/nuevo/menu/movil/3.png" class="absolute w-100 rounded" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/nuevo/menu/titulo4.png" class="img-movil" alt="">
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">El área de lanzamientos donde los espectadores podrán interactuar con los titulos más esperados de la temporada. Video juegos, obras, series, servicios, gadgets y demás serán el eje principal de las charlas, conferencias y paneles
                            que tenemos para ti.</p>
                        <img src="../../../assets/nuevo/menu/movil/4.png" class="absolute w-100 rounded" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/nuevo/menu/titulo5.png" class="img-movil" alt="">
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">Un espacio especial para conocer todo sobre las consolas de la nueva generación. Reviews, unboxing y muchas sorpresas que podrás vivir de cerca y en tu idioma. </p>
                        <img src="../../../assets/nuevo/menu/movil/5.png" class="absolute w-100 rounded" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/nuevo/menu/titulo6.png" class="img-movil" alt="">
                        <p class="text-white wow animate__animated animate__zoomIn text-right" id="textoSecciones">¡Los premios que los gamers colombianos han esperado por años! Participa con tu voto seleccionando a tus favoritos en cada categoría y entra en el sorteo de grandes premios. Tú tienes la voz… ¡Hazte escuchar!</p>
                        <img src="../../../assets/nuevo/menu/movil/6.png" class="absolute w-100 rounded" alt="...">
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <img class="arco w-100 container" src="../../../assets/nuevo/background/arco.png" alt="">
        </div>

    </section>
    <img src="../../../assets/nuevo/background/2.png" class="wow atras-2 w-25 animate__animated animate__slideInLeft" data-wow-delay="1.4s" alt="">
    <img src="../../../assets/nuevo/background/3.png" class="wow atras-3 animate__animated animate__slideInRight" width="150px" alt="">
    <img src="../../../assets/nuevo/background/4.png" class="wow atras-4 w-50 animate__animated animate__slideInRight" alt="">
    <img src="../../../assets/nuevo/background/5.png" class="wow atras-5 animate__animated animate__fadeInBottomRight" width="200px" alt="">
    <img src="../../../assets/nuevo/background/6.png" class="wow atras-6 animate__animated animate__slideInRight" width="150px" alt="">
    <section class="wow manifiesto animate__animated animate__zoomInUp">
        <div class="container" id="manifiesto">
            <div class="container" id="cont-man">
                <div class="row">
                    <div class="col-md-5 text-center order-last order-md-first">
                        <img class="w-100" src="../../../assets/nuevo/sobre atomicon+/poster.png" id="poster" alt="">
                    </div>
                    <div class="col-md-7 text-white text-center">
                        <img class="w-75" id="esto" src="../../../assets/nuevo/sobre atomicon+/Titulo.png" alt="">
                        <p class="text-center" id="text-man">Del <strong>04 al 06 de Diciembre</strong> llega a Bogotá <strong>ATOMICON,</strong> un evento tipo expo que vía streaming llevará a los fanáticos de la cultura Pop, los videojuegos y la tecnología, una experiencia en donde las
                            comunidades, los grandes lanzamientos y las competencias serán protagonistas. <br> <br> Un espacio en el que múltiples universos se encuentran, artistas, profesionales y seguidores de todas las edades y de diferentes tendencias
                            culturales, encontrarán un lugar para compartir. </p>

                        <div class="text-right" id="fin">
                            <img class="w-100" src="../../../assets/nuevo/sobre atomicon+/fin.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="play wow animate__animated animate__fadeIn">
        <div class="container">
            <img src="../../../assets/nuevo/menu 2/BANER INFO.png" class="w-100" alt="">
        </div>
        <br>
    </section>
    <section class="invitados wow animated__animated animate__zoomIn">
        <div class="container" id="invitados">
            <div class="container text-center">
                <img id="titInv" src="../../../assets/nuevo/invitados/titulo.png" alt="">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="margin-bottom: 2rem;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container justify-content-center wow animate__animated animate__zoomIn" style="margin-top: 4rem;">
                                <div class="row justify-content-center" style="margin-top: 3rem;">
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/1.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/2.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/3.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/4.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/5.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/6.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container justify-content-center" style="margin-top: 4rem;">
                                <div class="row justify-content-center" style="margin-top: 3rem;">
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/7.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/8.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/9.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/10.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/11.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/12.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container justify-content-center" style="margin-top: 4rem;">
                                <div class="row justify-content-center" style="margin-top: 3rem;">
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/13.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/14.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/15.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/16.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/17.png" alt=""></div>
                                    <div class="col-md-4 imgInvitados"><img class="w-75" src="../../../assets/nuevo/invitados/18.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partners wow animate__animated animate__fadeInUp">
        <img src="../../../assets/nuevo/partners/patrocinadores.png" class="w-100" alt="">
    </section>
</div>
<img src="../../../assets/nuevo/background/7.png" class="atras-7 wow animate__animated animate__slideInLeft" alt="">