<section class="secciones-col">
    <div class="container">
        <br>
        <h1 class="text-center text-white">Secciones</h1>
        <br>
        <div class="row">
            <div class="item">
                <div class="content">
                    <h3>Kids Lab</h3>
                    <p>lore</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <h3>Geek Zone</h3>
                    <p>Lorem ipsum amet</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <h3>Title</h3>
                    <p>Lorem ipsum amet</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <h3>Title</h3>
                    <p>Lorem ipsum amet</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <h3>Title</h3>
                    <p>Lorem ipsum amet</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <h3>Title</h3>
                    <p>Lorem ipsum amet</p>
                </div>
            </div>
        </div>0
    </div>
</section>